
nav.navbar { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar a { color: #FF5722; }
nav.navbar ul.navbar-nav a { color: #FF5722; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:visited,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav a:active { background: #fff; }
nav.navbar ul.navbar-nav a:hover { border-color: #FF5722; }
nav.navbar li.divider { background: #ccc; }
nav.navbar button.navbar-toggle { background: #FF5722; border-radius: 2px; }
nav.navbar button.navbar-toggle:hover { background: #999; }
nav.navbar button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar ul.dropdown-menu > li > a { color: #444; }
nav.navbar ul.dropdown-menu > li > a:hover { background: #FF5722; color: #fff; }
nav.navbar span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
