
// Body
$body-bg: #f5f8fa;


// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;
$text-color: #636b6f;

$border-radius:               .0rem !default;
$border-radius-lg:            .0rem !default;
$border-radius-sm:            .0rem !default;


$cyan:    #ff5722 !default;

$info:          $cyan !default;