
.btn-search {
    color: #FFFFFF;
    background-color: #FF5722;
    border-color: #FA7B7B;
  }
  
  .btn-search:hover,
  .btn-search:focus,
  .btn-search:active,
  .btn-search.active,
  .open .dropdown-toggle.btn-search {
    color: #FFFFFF;
    background-color: #FF0000;
    border-color: #FA7B7B;
  }
  
  .btn-search:active,
  .btn-search.active,
  .open .dropdown-toggle.btn-search {
    background-image: none;
  }
  
  .btn-search.disabled,
  .btn-search[disabled],
  fieldset[disabled] .btn-search,
  .btn-search.disabled:hover,
  .btn-search[disabled]:hover,
  fieldset[disabled] .btn-search:hover,
  .btn-search.disabled:focus,
  .btn-search[disabled]:focus,
  fieldset[disabled] .btn-search:focus,
  .btn-search.disabled:active,
  .btn-search[disabled]:active,
  fieldset[disabled] .btn-search:active,
  .btn-search.disabled.active,
  .btn-search[disabled].active,
  fieldset[disabled] .btn-search.active {
    background-color: #FF5722;
    border-color: #FA7B7B;
  }
  
  .btn-search .badge {
    color: #FF5722;
    background-color: #FFFFFF;
  }
  
  form {
    margin-bottom: 0;
  }
  
  strong{
    line-height: 180%;
  }
  
  .channel{
    padding: 10px 0px;
    font-size: larger;
    line-height: 180%;
  }
  
  .subtitle{
    font-size: 80%;
    border-top:1px solid #cecece;
    padding: 10px;
    text-align: right;
  }
  
  .vleft {
    float: left;
    padding: 30px;
  }
  
  .vright {
    display: block;
  }
  
  td{
    font-size: x-small;
  }
  
  .btn{
  margin:5px;
  
  }
  
  .log{
    display: block;
    font-size: 11px;
    line-height: 1.6;
    color: #777777;
    padding-left: 10px
  }
  
  .log_body {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    background: #222222;
    border:none
  }
  
  .log_date{
    color: burlywood;
  }
  
  .log_channel {
    color: blueviolet
  }
  
  .borderless td, .borderless th {
    border: none;
  }
  
  